.content {
  display: flexbox;
  background-color: rgb(153, 153, 255, 0.8);
  margin: 5%;
}

.content p {
  color: black;
  font-size: 1.5em;
  font-weight: normal;
  margin: 2%;
}

.content h1 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: "Simplifica", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 40pt;
  font-weight: bold;
  color: blue;
  opacity: 1;
  letter-spacing: 0.2em;
  margin: 2%;
}

.content h1:after {
  content: "CONTACT";
  position: absolute;
  left: 0.06em;
  top: 0.06em;
  color: red;
  font-weight: bold;
  opacity: 0.5;
}

.form {
  color: black;
  font-family: "Simplifica", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin: 2%;
  letter-spacing: 0.2em;
  padding: 1em;
}

.form label {
  display: inline-block;
  text-align: right;
  width: 70%;
  padding: 0.3em;
}

.form input {
  width: 30em;
}

.form textarea {
  width: 30em;
}

button {
  font-family: "Simplifica", "Gill Sans", "Gill Sans MT", Calibri;
  font-size: 1em;
}

.githubicon {
  color: rgb(165, 35, 35);
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f58aa3),
    to(turquoise)
  );
}

.linkedinicon {
  color: rgb(165, 35, 35);
  border-radius: 5pt;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f58aa3),
    to(turquoise)
  );
}
.link {
  text-decoration: none;
}

.iconlinks {
  justify-items: center;
}

.iconlinks ul {
  list-style: none;
  text-align: center;
}

.iconlinks ul li {
  display: inline-block;
  padding: 10pt;
}
